# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
db.sqlite3

# OS-specific
.DS_Store
Thumbs.db